package ${package}.${moduleName}.entity.generated;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.*;

import com.mybatis.common.base.BaseEntity;
import com.mybatis.common.base.CommentTarget;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

import org.springframework.format.annotation.DateTimeFormat;

/**
*
 * ${comments}
 * @author ${author}
 * @date ${datetime}
*/
@Builder(builderMethodName = "newInstance")
@AllArgsConstructor
@Data
@EqualsAndHashCode(callSuper = false)
@TableName(value = "$tableName")
public class ${className} extends m${className} {


}
